/* Empty. Add your own CSS if you like */
#conteudo_log{

  background-color:#37474f;

}

#dropbox{
  background-color: #007aff;
}

#log_card{
margin:auto;
margin-top:6em;
}

#logo{
  min-width: 150px;
  min-height: 150px;
  max-height: 200px;
  max-width: 200px;
}
