<ion-view view-title="Home">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Preguiça App</h1>
  </ion-header-bar>
  <ion-content id="conteudo_log">
    <div id="log_card" class="card-panel container center-align">
      <div class="section">
<img id="logo" class="circle img-responsive" src="img/baka_neutral_temp_by_the_knick-d7f6jum.png">
      </div>
      <form class="section">
        <input class="input-field" ng-value="user" placeholder="Usuário" type="text">
        <input class="input-field" ng-value="pswd" placeholder="Senha" type="password">
        <button type="submit" class="btn">Entrar</button>
        <button class="btn" ng-click="formCadastrar">Cadastrar</button>
      </form>
      <div class="section">
        <button id="dropbox" class="btn-floating" ><i class="fa fa-dropbox fa-3x"></i></button>
      </div>
    </div>
  </ion-content>
</ion-view>
